server:
  port: 9881

spring:
  application:
    name: base-service-basic
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://127.0.0.1:3306/productivity_hub?useUnicode=true&characterEncoding=UTF-8&allowMultiQueries=true
    username: root
    password: root
    type: com.alibaba.druid.pool.DruidDataSource
  redis:
    host: 127.0.0.1
    port: 6379
    password:
    template:
      keySerializer: org.springframework.data.redis.serializer.StringRedisSerializer
      valueSerializer: org.springframework.data.redis.serializer.GenericJackson2JsonRedisSerializer

mybatis:
  mapper-locations: classpath:mapper/*.xml
  configuration:
    map-underscore-to-camel-case: true
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl

pagehelper:
  helper-dialect: mysql
  reasonable: true
  support-methods-arguments: true
  params: count=countSql

common:
  web:
    exclude-paths: /api/auth/login,/api/auth/captcha

logging:
  level.org.springframework.boot.autoconfigure: error
  config: classpath:logback.xml


